nav {
  background-color: #ffa500;
}

input[type=text]:focus{
  border-color: #00daff;
  color: #2500ff;
}

#search {
  margin-top: 12px;
  float: right;
}

#glif {
  margin-top: 20px;
  float: right;
}
/*end of nav styling*/

/*About link test can remove once content is designed*/
h3 {
  padding-top: 200px;
}
/*End of test for about link*/

#form {
  padding-top: 100px;
}
